<div class="stopwatch">
  <div class="container-div">
    <div class="time">
      <div class="min">{{min}}:</div>
      <div class="sec">{{sec}}.</div>
      <div class="milisec">{{milisec}}</div>
    </div>
    <div class="buttons">
      <mat-icon *ngIf="!running" class="icons start" (click)="start()">play_arrow</mat-icon>
      <mat-icon *ngIf="running" class="icons pause" (click)="pause()">pause</mat-icon>
      <mat-icon *ngIf="!running" class="icons reset" (click)="reset()">restart_alt</mat-icon>
      <mat-icon *ngIf="running" class="icons split" (click)="split()">splitscreen</mat-icon>
    </div>
  </div>
  <div class="split-times">
    <div class="times-container">
       <div class="split-time time1">
        <div *ngFor="let split of splits" class="splitTimes">
          {{split}}
        </div>
       </div>
    </div>
  </div>
  <div class="send">Send</div>
</div>

<router-outlet></router-outlet>
